<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2025 - Week10 Project - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy Policy</a>
        <p>Student: Jeevan Jose Kaniyarakath. - ID: 101492165</p>
    </div>
</footer>
