@{
ViewData["Title"] = "Privacy Statement";
}
<h1>@ViewData["Title"]</h1>

<p>I acknowledge that this work was completed independently. Additionally, I am committed to maintaining the
    confidentiality of any data used in this assignment and will handle it with care and responsibility.</p>

